@using YuenWaiLokForum.Models;

@{
    ViewBag.Title = "Thread";
}

@helper DisplayReply(ReplyViewModel reply)
{
    <ul>
        <li>
            <div id="header">
                <table>
                    <tr>
                        <td><b>@reply.Author</b></td>
                        <td align="right">@reply.Date</td>
                    </tr>
                    <tr>
                        <td><b>@reply.Title</b></td>
                    </tr>
                </table>
            </div>
            <br />
            <div id="content">
                <p>@reply.Content</p>
            </div>
            <button>Reply</button>
            <button>Quote</button>
            <p/>
            @for (int i = 0; i < reply.replies.Count; i++)
            {
                @DisplayReply(reply.replies[i]);

            }
        </li>
    </ul>
}

<html>
<body>
    <link rel="stylesheet" type="text/css" href="~/Content/forum.css">
    <br />
    <br />

    <div class="Reply">
        <div id="header" align="right">
            <table>
                <tr>
                    <td><b>@Model.Author</b></td>
                    <td align="right">@Model.Date</td>
                </tr>
                <tr>
                    <td><b>@Model.Topic</b></td>
                </tr>

            </table>


        </div>
        <br />
        <div id="content">
            @Model.Content
        </div>
        <button>Reply</button>
        
    </div>

    <br />
    <div class="Reply">
        @foreach (var item in Model.replies)
        {
            @DisplayReply(item);
        }
    </div>
</body>
</html>
